NEXT_PUBLIC_SUPABASE_URL=https://vtqsvjjrputbwlraylfi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0cXN2ampycHV0YndscmF5bGZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NDYwOTMsImV4cCI6MjEwMzIyMjA5M30.gRFlg-Kf0FFi65H3rpq7ZXAwb-K83Ympy3FUAMzWWjw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0cXN2ampycHV0YndscmF5bGZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzY0NjA5MywiZXhwIjoyMTAzMjIyMDkzfQ.kst77MDHExXk2o8DKAprgA0Hw3hOMJ60HYBl6jpWFEs
META_ACCESS_TOKEN=EAAUcUl7eh4gBSSvEFEE6P2fu96SKh5B7kMrYbVvnJoSSWyaNIi1MZAuqoYwIZBW8iyvBeEyNUZB8eWcqrvUqUdc3Wp7lNGmNd2USgpcri0EYItMF5h3TTIaizKZBsBuazx431C7oJ2HhmDQ3Xw2rJSAeGKhVL0sZAwv7xhkrSnvDEXygqZBZCqzJKUCZBn0fTZBAbOAZDZD
META_PHONE_NUMBER_ID=1317349648122589
META_WABA_ID=1218409418012584
META_VERIFY_TOKEN=Suraj
